// Base file , link css and import scripts

doctype html
head

  link(href='./style.css' type='text/css' rel='stylesheet')
  script(src='./app.js')
  script(src='./static/jquery-3.3.1.min.js')
  block title
body
  h1 BASE HHH
  block content
